body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Righteous', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}